*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    /* background-color: rgb(58, 69, 117); */
    max-width: 80%;
    margin: auto;
    padding: 34px;
}
.mg a{
    color: darkolivegreen;
    width: 80%;
    margin: 9px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}
.container h1{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: 'Ubuntu', sans-serif;
}
p{
    text-align: center;
    font-size: 16 px;
    color: rgb(56, 59, 59);
    font-family: 'Roboto', sans-serif;
}

input, textarea{
    display: block;
    font-size: 16px;
    width: 75%;
    margin: 9px auto;
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{ 
    color: white;
    background: rgb(129, 211, 236);
    width: 10%;
    padding: 10px 15px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
